form(method='GET' action='/breadth-first-search/sample')
  div.form-group
    label(for='sample') Sample:
    button#name.form-control(type='submit') Sample

form(method='POST' action='/breadth-first-search/upload')
  div.form-group
    label(for='upload') Upload:
    button#name.form-control(type='submit') Upload
    